{% extends 'base.html.twig' %}

{% block title %}
	Orders
{% endblock %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">
					#
				</th>
				<th scope="col">
					Items count
				</th>
				<th scope="col">
					Price
				</th>
				<th scope="col">
					Date
				</th>
				<th scope="col">
					Details
				</th>
			</tr>
		</thead>
		<tbody>
			{% for o in orders %}
				<tr>
					<th scope="row">
						{{ loop.index }}
					</th>
					<td>
						{{ o.orderItems | length }}
					</td>
					<td>
						{{ o.price | format_currency('USD') }}
					</td>
					<td>
						{{ o.createdAt | date("m/d/Y H:i") }}
					</td>
					<td>
						<a href="{{ path('user_order',{id: o.id}) }}">
							Details
						</a>
					</td>

				</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock %}
