{% extends "base.html.twig" %}

{% block head %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick-theme.css') }}"/>

{% endblock %}

{% block body %}


	<!-- Section-->
	<section class="py-5">


		<div class="container px-4 px-lg-5 mt-5">


			<div class="row">

				<div class="col-xs-12">
					<h3 class="text-center">
						Latest Products
					</h3>
				</div>


				{# latest products #}
				<div class="slider">

					{% for pr in latests %}

						<div class="slider-item">
							<div class="card h-100">
								<img class="card-img-top" src="{{ Market.getImageUrl(pr.imageId,268,268) }}" alt="..."/>
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder pr-list-title">
											{{ pr.name }}
										</h5>
										{{ pr.price| format_currency('USD') }}
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="{{path('product_show',{id: pr.id}) }}">
											Details
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>


			{# most viewed products #}
			<div class="row">

				<div class="col-xs-12">
					<h3 class="text-center">
						Most Viewed Products
					</h3>
				</div>
				<div class="slider">

					{% for pr in populars %}

						<div class="slider-item">
							<div class="card h-100">
								<img class="card-img-top" src="{{ Market.getImageUrl(pr.imageId,268,268) }}" alt="..."/>
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder pr-list-title">
											{{ pr.name }}
										</h5>
										{{ pr.price| format_currency('USD') }}
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="{{path('product_show',{id: pr.id}) }}">
											Details
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center pr-list">

				<div class="col-xs-12 pr-list-header">
					<h3 class="text-center">
						Our Products
					</h3>
				</div>
				<form class="w-100 py-5">
					<div class="row align-items-center">

						<div class="col-1 px-0">
							<label>
								Search:
							</label>
						</div>

						<div class="col-3">
							<input type="text" id="search" class="form-control" placeholder="Search in name, description and price" value={{ app.request.query.get('search') }}>

						</div>

						<div class="col-1 px-0 d-flex flex-row-reverse">
							<label>
								Sort:
							</label>
						</div>
						<div class="col-2">
							<select class="form-select" aria-label="Default select example" id="sort">
								{% if (app.request.query.get('sort') == false) %}

									<option value="" readonly="true" hidden="true" selected>
										Sort Filter
									</option>
								{% endif %}
								<option value="price" {% if(app.request.query.get('sort')  == 'price') %} selected {% endif %}>
									Price
								</option>
								<option value="createdAt" {% if(app.request.query.get('sort')  == 'createdAt') %} selected {% endif %}>
									Date
								</option>
								<option value="name" {% if(app.request.query.get('sort')   == 'name') %} selected {% endif %}>
									Name
								</option>
							</select>
						</div>

						<div class="col-1 px-0 d-flex flex-row-reverse">
							<label>
								Direction:
							</label>
						</div>
						<div class="col-2 pl-0">
							<select class="form-select" aria-label="Default select example" id="direction">
								{% if (app.request.query.get('direction') == false) %}

									<option value="" readonly="true" hidden="true" selected>
										Direction
									</option>
								{% endif %}
								<option value="ASC" {% if(app.request.query.get('direction') == 'ASC')  %} selected {% endif %}>
									Ascending
								</option>
								<option value="DESC" {% if(app.request.query.get('direction') == 'DESC')  %} selected {% endif %}>
									Descending
								</option>
							</select>
						</div>

						<div class="col-2">
							<button type="submit" class="btn btn-primary w-50" id="filter">
								Filter
							</button>
						</div>
					</div>

				</form>


				{% for pr in pagination %}

					<div class="col mb-5">
						<div class="card h-100">
							<img class="card-img-top" src="{{ Market.getImageUrl(pr.imageId,268,268) }}" alt="..."/>
							<div class="card-body p-4">
								<div class="text-center">
									<h5 class="fw-bolder pr-list-title">
										{{ pr.name }}
									</h5>
									{{ pr.price| format_currency('USD') }}
								</div>
							</div>
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" href="{{path('product_show',{id: pr.id}) }}">
										Details
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="navigation center">
			{{ knp_pagination_render(pagination) }}
		</div>
	</section>
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">
				Copyright &copy; Your Website 2021
			</p>
		</div>
	</footer>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{{asset('assets/js/slick.min.js') }}"></script>
	<script type="text/javascript" src="{{asset('assets/js/index.js') }}"></script>
{% endblock %}
